*.d
*.exe
*.ilk
*.o
*.pdb
*~
.DS_Store
.cproject
.project
SDL.dll
TAGS
_build/solution-vs10e/Debug
_build/solution-vs10e/Release
ja2
ja2-last-strac
libgcc_s_dw2-1.dll
libstdc++-6.dll
release-*
stderr.txt
stdout.txt
