# Uncomment exactly ONE of these
#DUTCH   := yes
#ENGLISH := yes
#FRENCH  := yes
#GERMAN  := yes
#ITALIAN := yes
#POLISH  := yes
#RUSSIAN := yes # Broken

#JA2BETAVERSION := yes
#JA2TESTVERSION := yes
#JA2EDITOR      := yes
