[Desktop Entry]
Name=Jagged Alliance 2 - Stracciatella
GenericName=Strategy/RP Game
Comment=An enhanced port of Jagged Alliance 2 to SDL
Exec=ja2
TryExec=ja2
Icon=jagged2.ico
Type=Application
Categories=Game;StrategyGame;RolePlaying;
Version=1.0
