Source: ja2-stracciatella
Maintainer: Gennady Trafimenkov <gennady.trafimenkov@gmail.com>
Section: games
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 8)

Package: ja2-stracciatella
Architecture: any
Depends: libc6 (>= 2.3.6), libgcc1 (>= 1:4.1.1), libsdl1.2debian (>= 1.2.10-1), libstdc++6 (>= 4.4.0)
Description: JA2 Stracciatella
 Cross-platform implementation of Jagged Alliance 2 game.
 This is only the game engine; game resources must be installed separately.
