#!/usr/bin/make -f

DEBROOT=$$(pwd)/debian/ja2-stracciatella

%:
	dh $@

override_dh_auto_configure:
	echo "# configuration options"                                  >Makefile.config
	echo "BINARY_DIR               := $(DEBROOT)/usr/games"         >>Makefile.config
	echo "MANPAGE_DIR              := $(DEBROOT)/usr/share/man/man6">>Makefile.config
	echo "FULL_PATH_EXTRA_DATA_DIR := $(DEBROOT)/usr/share/ja2"     >>Makefile.config
	echo "INSTALLABLE              := yes"                          >>Makefile.config

	echo "/* configuration options */"                              >ja2config.h
	echo "#define EXTRA_DATA_DIR \"/usr/share/ja2\""		>>ja2config.h

override_dh_auto_build:
	$(MAKE) -j2
