<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>JA2 Stracciatella</string>
	<key>CFBundleIconFile</key>
	<string>JA2 Stracciatella</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.ja2-stracciatella</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>JA2 Stracciatella</string>
	<key>CFBundleShortVersionString</key>
	<string>0.15.x</string>
	<key>CFBundleVersion</key>
	<string>0.15.x</string>
</dict>
</plist>
