[Desktop Entry]
Name=Jagged Alliance 2 - Stracciatella
GenericName=Strategy/RP Game
Comment=An enhanced port of Jagged Alliance 2 to SDL
Exec=ja2-launcher
TryExec=ja2-launcher
Icon=ja2-stracciatella
Terminal=false
Type=Application
Categories=Game;StrategyGame;RolePlaying;
Version=1.0
